@import 'tailwindcss';

@theme {
  --color-primary: #5e2ca5;
  --color-secondary: #12344a;
}

.radix-themes {
  --default-font-family: 'Barlow', 'Roboto', sans-serif;
  --heading-font-family: 'Barlow', 'Roboto', sans-serif;
  --code-font-family: 'Barlow', 'Roboto', sans-serif;
  --strong-font-family: 'Barlow', 'Roboto', sans-serif;
  --em-font-family: 'Barlow', 'Roboto', sans-serif;
  --quote-font-family: 'Barlow', 'Roboto', sans-serif;
  --cursor-button: pointer;
}

.currency-field input {
  text-align: right;
  padding-right: 1em;
}
